flows/user-data/.nr-flows.json.backup
[{"id":"5525c84.cc06738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2c87875.293fc8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"_.telesure.co.za","servername":"","verifyservercert":false},{"id":"f9b151f.a1783b","type":"mqtt-broker","z":"","name":"dial direct","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"true","closePayload":"","willTopic":"","willQos":"0","willRetain":"true","willPayload":""},{"id":"c87cecea.97416","type":"http in","z":"5525c84.cc06738","name":"Get Fund Value","url":"/fundvalue","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["50511b62.cc47c4"]]},{"id":"50511b62.cc47c4","type":"function","z":"5525c84.cc06738","name":"Config URL","func":"var id = msg.payload.idNumber;\nmsg.url=`http://ttshqwebtest:399/CIP/Api/FundValue`;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["22ca1f8b.5d6fa"]]},{"id":"b7db6be2.3072e8","type":"http response","z":"5525c84.cc06738","name":"","statusCode":"","headers":{},"x":990,"y":320,"wires":[]},{"id":"22ca1f8b.5d6fa","type":"http request","z":"5525c84.cc06738","name":"","method":"GET","ret":"obj","url":"","tls":"b2c87875.293fc8","x":770,"y":320,"wires":[["b7db6be2.3072e8"]]},{"id":"95f43c02.34119","type":"debug","z":"5525c84.cc06738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":240,"wires":[]},{"id":"add65d2d.f92e2","type":"http in","z":"5525c84.cc06738","name":"Get Transactions","url":"/transactions","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["57efdb3b.85ab44"]]},{"id":"57efdb3b.85ab44","type":"function","z":"5525c84.cc06738","name":"Config URL","func":"var id = msg.payload.idNumber;\nmsg.url=`http://ttshqwebtest:399/CIP/Api/Transaction`;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":500,"wires":[["72f3e9d.d958e18","aad6563d.b6e818"]]},{"id":"e3890833.7e5d48","type":"http response","z":"5525c84.cc06738","name":"","statusCode":"","headers":{},"x":1010,"y":500,"wires":[]},{"id":"aad6563d.b6e818","type":"http request","z":"5525c84.cc06738","name":"","method":"GET","ret":"obj","url":"","tls":"b2c87875.293fc8","x":790,"y":500,"wires":[["e3890833.7e5d48"]]},{"id":"72f3e9d.d958e18","type":"debug","z":"5525c84.cc06738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":420,"wires":[]}]