flows/user-data/nr-flows.json
[{"id":"5525c84.cc06738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b2c87875.293fc8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"_.telesure.co.za","servername":"","verifyservercert":false},{"id":"f9b151f.a1783b","type":"mqtt-broker","z":"","name":"dial direct","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"true","closePayload":"","willTopic":"","willQos":"0","willRetain":"true","willPayload":""},{"id":"c87cecea.97416","type":"http in","z":"5525c84.cc06738","name":"Get Fund Value","url":"/fundvalue","method":"get","upload":false,"swaggerDoc":"","x":120,"y":120,"wires":[["50511b62.cc47c4"]]},{"id":"50511b62.cc47c4","type":"function","z":"5525c84.cc06738","name":"Config URL","func":"msg.url='http://ttshqwebtest:399/CIP/Api/FundValue';\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["22ca1f8b.5d6fa"]]},{"id":"b7db6be2.3072e8","type":"http response","z":"5525c84.cc06738","name":"","statusCode":"","headers":{},"x":990,"y":120,"wires":[]},{"id":"22ca1f8b.5d6fa","type":"http request","z":"5525c84.cc06738","name":"","method":"GET","ret":"obj","url":"","tls":"b2c87875.293fc8","x":770,"y":120,"wires":[["b7db6be2.3072e8"]]},{"id":"add65d2d.f92e2","type":"http in","z":"5525c84.cc06738","name":"Get Transactions","url":"/transactions","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["57efdb3b.85ab44"]]},{"id":"57efdb3b.85ab44","type":"function","z":"5525c84.cc06738","name":"Config URL","func":"msg.url='http://ttshqwebtest:399/CIP/Api/Transaction';\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["aad6563d.b6e818"]]},{"id":"e3890833.7e5d48","type":"http response","z":"5525c84.cc06738","name":"","statusCode":"","headers":{},"x":990,"y":200,"wires":[]},{"id":"aad6563d.b6e818","type":"http request","z":"5525c84.cc06738","name":"","method":"GET","ret":"obj","url":"","tls":"b2c87875.293fc8","x":770,"y":200,"wires":[["e3890833.7e5d48"]]},{"id":"ea04f7d3.8e1498","type":"http in","z":"5525c84.cc06738","name":"Get Configurations","url":"/configurations","method":"get","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["3fb32237.f12a6e"]]},{"id":"3fb32237.f12a6e","type":"function","z":"5525c84.cc06738","name":"Config URL","func":"msg.url='http://ttshqwebtest:399/CIP/Api/Config';\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["45123437.18869c"]]},{"id":"618ff569.0f04bc","type":"http response","z":"5525c84.cc06738","name":"","statusCode":"","headers":{},"x":990,"y":280,"wires":[]},{"id":"45123437.18869c","type":"http request","z":"5525c84.cc06738","name":"","method":"GET","ret":"obj","url":"","tls":"b2c87875.293fc8","x":770,"y":280,"wires":[["618ff569.0f04bc"]]},{"id":"d7e2ffd1.276aa","type":"http in","z":"5525c84.cc06738","name":"Login Request","url":"/login-email","method":"post","upload":false,"swaggerDoc":"","x":120,"y":420,"wires":[["1a8ae1ca.7555ae","4b789143.989fd"]]},{"id":"29af917c.b6dafe","type":"e-mail","z":"5525c84.cc06738","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"Email","x":990,"y":420,"wires":[]},{"id":"1a8ae1ca.7555ae","type":"function","z":"5525c84.cc06738","name":"request mapping","func":"msg.to = msg.payload.toAddress,\nmsg.cc = msg.copyTo,\nmsg.payload = msg.payload.emailBody\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["29af917c.b6dafe","f0800987.5a4138","122cb154.96bc3f"]]},{"id":"f0800987.5a4138","type":"debug","z":"5525c84.cc06738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":380,"wires":[]},{"id":"4b789143.989fd","type":"debug","z":"5525c84.cc06738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":480,"wires":[]},{"id":"122cb154.96bc3f","type":"http response","z":"5525c84.cc06738","name":"","statusCode":"","headers":{},"x":810,"y":480,"wires":[]}]